<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
    <title>addOrEdit</title>
  </head>
  <body>
    <main class="container">
      <section class="row" layout:fragment="content">
        <div class="col-6 offset-3 mt-4">
          <form
            th:action="@{/admin/accounts/saveOrUpdate}"
            th:object="${account}"
            method="post"
          >
            <div class="card">
              <div class="card-header">
                <h2 th:text="${account.isEdit ? 'Update Account' : 'Add New Account'}"></h2>
              </div>
              <div class="card-body">
                <input type="hidden" th:field="*{isEdit}" />
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{username}"
                    name="username"
                    id="username"
                    aria-describedby="usernameHUd"
                    placeholder="Username"
                  />
                  <small
                    id="usernameHUd"
                    th:if="${#fields.hasErrors('username')}"
                    class="form-text text-muted"
                    >Username is invalid</small
                  >
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{password}"
                    name="password"
                    id="password"
                    aria-describedby="passwordHId"
                    placeholder="Password"
                  />
                  <small
                    id="passwordHId"
                    th:if="${#fields.hasErrors('password')}"
                    class="form-text text-muted"
                    >Password is invalid</small
                  >
                </div>
              </div>
              <div class="card-footer text-muted">
                <button type="reset" class="btn btn-secondary">Reset</button>
                <a th:href="@{/admin/accounts}" class="btn btn-success"
                  >List Accounts</a
                >
                <button class="btn btn-primary">
                  <i class="fas fa-save"></i>
                  <span th:if="${account.isEdit}">Update</span>
                  <span th:unless="${account.isEdit}">Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
