<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}"></html>
<head>
<title>Add Flight</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
	integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	crossorigin="anonymous" />

<link rel="stylesheet" href="/css/admin.css" />
</head>
<body>
	<main class="container">
		<header class="row text-content"></header>
		<section class="row">
			<div class="col-8 offset-2 mt-4">
				<form action="/admin/flights/saveOrUpdate" th:object="${flight}"
					method="post">
					<div class="card">
						<div class="card-header">
							<h2 th:text="${flight.isEdit ? 'Update Flight Information' : 'Add New Flight'}"></h2>
						</div>
						<div class="card-body">
							<div class="form-group row">
								<label for="flightNo"
									class="col-sm-3 col-form-label font-weight-bold">Flight
									No:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{flightNo}"
										name="flightNo" id="flightNo" aria-describedby="flightHId"
										placeholder="Flight No" /> <small id="flightHId"
										class="form-text text-muted">Flight No is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="flightName"
									class="col-sm-3 col-form-label font-weight-bold">Flight
									Name:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{flightName}" name="flightName" id="flightName"
										aria-describedby="flightNameHId" placeholder="Flight Name" />
									<small id="flightNameHId" class="form-text text-muted">Flight
										Name is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="fromCity"
									class="col-sm-3 col-form-label font-weight-bold">From
									City:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{fromCity}"
										name="fromCity" id="fromCity" aria-describedby="fromCityHId"
										placeholder="From City" /> <small id="fromCityHId"
										class="form-text text-muted">From City is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="toCity"
									class="col-sm-3 col-form-label font-weight-bold">To
									City:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{toCity}"
										name="toCity" id="toCity" aria-describedby="toCityHId"
										placeholder="To City" /> <small id="toCityHId"
										class="form-text text-muted">To City is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="date"
									class="col-sm-3 col-form-label font-weight-bold">Date:</label>
								<div class="col-sm-9">
									<input type="date" class="form-control" th:field="*{flightDate}"
										name="date" id="date" aria-describedby="dateHId"
										placeholder="dd/mm/yyyy" /> <small id="dateHId"
										class="form-text text-muted">Date is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="time"
									class="col-sm-3 col-form-label font-weight-bold">Time:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{time}"
										name="time" id="time" aria-describedby="timeHId"
										placeholder="09:00 PM" /> <small id="timeHId"
										class="form-text text-muted">Time is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="travelDuration"
									class="col-sm-3 col-form-label font-weight-bold">Travel
									Duration:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{travelDuration}" name="travelDuration"
										id="travelDuration" aria-describedby="travelDurationHId"
										placeholder="Travel Duration" /> <small
										id="travelDurationHId" class="form-text text-muted">Travel
										Duration is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="airportName"
									class="col-sm-3 col-form-label font-weight-bold">Airport
									Name:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{airportName}" name="airportName" id="airportName"
										aria-describedby="airportNameHId" placeholder="Airport Name" />
									<small id="airportNameHId" class="form-text text-muted">Travel
										Duration is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="ticketPrice"
									class="col-sm-3 col-form-label font-weight-bold">Ticket
									Price:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{ticketPrice}" name="ticketPrice" id="ticketPrice"
										aria-describedby="ticketPriceHId" placeholder="Ticket Price" />
									<small id="ticketPriceHId" class="form-text text-muted">Ticket
										Price is Required</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="description"
									class="col-sm-3 col-form-label font-weight-bold">Description:</label>
								<div class="col-sm-9">
									<textarea class="form-control" th:field="*{description}"
										name="description" id="description" rows="5"
										style="resize: none"></textarea>
									<small id="descriptionHId" class="form-text text-muted">Description
										is Required</small>
								</div>
							</div>
							<!-- Break -->
						</div>
						<div class="card-footer text-muted">
							<button type="reset" class="btn btn-secondary">Reset</button>
							<button th:text="${flight.isEdit ? 'Update' : 'Save'}" class="btn btn-primary"></button>
							<button class="btn btn-danger float-right">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</section>
		<footer class="row"></footer>
	</main>
	<script>
		console.log(document.querySelector("#dateHId"));
	</script>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
