<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
    <title>Flight List</title>
  </head>
  <body>
      <section class="row" layout:fragment="content">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <h4>List of Products</h4>
              </div>
              <div class="card-body">
                <div
                  th:if="${message != null}"
                  class="alert alert-primary"
                  role="alert"
                >
                  <strong>[[${message}]]</strong>
                </div>
                <div class="table-responsive">
                  <table
                    id="example"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                    <thead class="thead-inverse">
                      <tr>
                        <th>
                          <input
                            type="checkbox"
                            name="checkAll"
                            id="checkAll"
                            class="form-check-input"
                          />
                        </th>
                        <th>Flight No.</th>
                        <th>Flight Name</th>
                        <th>From City</th>
                        <th>To City</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Airport Name</th>
                        <th>Ticket Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item : ${flights}">
                        <td>
                          <input
                            type="checkbox"
                            name="checkbox"
                            class="form-check-inline"
                          />
                        </td>
                        <td th:text="${item.flightNo}"></td>
                        <td th:text="${item.flightName}"></td>
                        <td th:text="${item.fromCity}"></td>
                        <td th:text="${item.toCity}"></td>
                        <td
                          th:text="${#dates.format(item.flightDate, 'dd-MM-yyyy')}"
                        ></td>
                        <td th:text="${item.time}"></td>
                        <td th:text="${item.airportName}"></td>
                        <td th:text="${item.ticketPrice}"></td>
                        <td>
                          <a
                            th:href="@{'/admin/flights/view/' + ${item.flightNo}}"
                            class="btn btn-outline-info"
                            ><i class="fas fa-info"></i
                          ></a>
                          <a
                            th:href="@{'/admin/flights/edit/' + ${item.flightNo}}"
                            class="btn btn-outline-warning"
                            ><i class="fas fa-edit"></i
                          ></a>
                          <a
                            href="#"
                            th:data-id="${item.flightNo}"
                            th:data-name="${item.flightName}"
                            onclick="showConfirmModalDialog(event, this.getAttribute('data-id'), this.getAttribute('data-name'), this)"
                            class="btn btn-outline-danger"
                            ><i class="fas fa-recycle"></i
                          ></a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th></th>
                        <th>Flight No.</th>
                        <th>Flight Name</th>
                        <th>From City</th>
                        <th>To City</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Airport Name</th>
                        <th>Ticket Price</th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                  <script>
                    function showConfirmModalDialog(event, id, name) {
                      event.preventDefault();
                      $("#flightName").text(name);
                      $("#yesOption").attr("href", "/admin/flights/delete/" + id);
                      $("#confirmationId").modal("show");
                    }
                  </script>
                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="confirmationId"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="modelTitleId"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Confirmation</h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Do you want to delete "<span id="flightName"></span>"?
                        </div>
                        <div class="modal-footer">
                          <a id="yesOption" type="button" class="btn btn-danger"
                            >Yes</a
                          >
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>
