<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}">

<head>
  <title>list</title>
</head>

<body>
  <section class="row" layout:fragment="content">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header">
          <h2>List of Products</h2>
        </div>
        <div class="card-body">
          <div th:if="${message != null}" class="alert alert-primary" role="alert">
            <strong>[[${message}]]</strong>
          </div>
          <div>
            <a class="btn btn-sm btn-outline-primary float-right mb-2" th:href="@{/admin/products/add}">Add New
              Product</a>
          </div>
          <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
              <tr>
                <th>
                  <input type="checkbox" class="form-check-input" />
                </th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Discount</th>
                <th>Status</th>
                <th>Category</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item, iStat : ${products}">
                <td><input type="checkbox" class="form-check-inline" /></td>
                <td>
                  <img src="images/sp.jpg" width="70px" class="img-fluid" alt="" />
                </td>
                <td th:text="${item.name}">Screen</td>
                <td th:text="${item.quantity}">500</td>
                <td th:text="${item.unitPrice}">99.9</td>
                <td th:text="${item.discount}">5%</td>
                <td th:text="${item.status}">Bestseller</td>
                <td th:text="${item.category.name}">Clothes</td>
                <td>
                  <a th:href="@{'/admin/products/view/' + ${item.productId}}" class="btn btn-outline-info"><i
                      class="fas fa-info"></i></a>
                  <a th:href="@{'/admin/products/edit/' + ${item.productId}}" class="btn btn-outline-warning"><i
                      class="fas fa-edit"></i></a>
                  <a th:data-id="${item.productId}" th:data-name="${item.name}"
                    onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                    class="btn btn-outline-danger"><i class="fas fa-recycle"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <script>
            function showConfirmModalDialog(id, name) {
              $("#productName").text(name);
              $("#yesOption").attr("href", "/admin/products/delete/" + id);
              $("#confirmationId").modal("show");
            }
          </script>
          <!-- Modal -->
          <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Do you want to delete "<span id="productName"></span>"?
                </div>
                <div class="modal-footer">
                  <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</body>

</html>