<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head> </head>
  <body>
    <div th:fragment="footer">
      <footer class="text-center text-lg-start">
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2022 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/"
            >MDBootstrap.com</a
          >
        </div>
      </footer>
    </div>
  </body>
</html>
