<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head></head>
  <body>
    <div th:fragment="nav">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png" alt="" width="80px" />
        </a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li>
              <a class="nav-link" href="#">Flight</a>
            </li>
            <li>
              <a class="nav-link" href="#" th:if="${session.username == null}"
                >Login</a
              >
              <a
                class="nav-link"
                th:href="@{../../signout}"
                th:unless="${session.username == null}"
                >Sign Out</a
              >
            </li>
            <li>
              <a class="nav-link" href="#" id="userInformation"></a>
            </li>
            <script th:inline="javascript">
              /*<![CDATA[*/

              var username = /*[[${session.username}]]*/ "default";
              if (username != null) {
                const userInformation =
                  document.getElementById("userInformation");
                userInformation.innerText = "Hello " + username;
              } else userInformation.innerText = "Hello Guest";

              /*]]>*/
            </script>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
