<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
    <title>addOrEdit</title>
  </head>
  <body>
    <main class="container">
      <section class="row" layout:fragment="content">
        <div class="col-4 offset-4 mt-4">
          <form
            th:action="@{saveOrUpdate}"
            th:object="${account}"
            method="post"
          >
            <div class="card">
              <div class="card-header">
                <h2>Add New Account</h2>
              </div>
              <div class="card-body">
                <div
                  th:if="${message != null}"
                  class="alert alert-primary"
                  role="alert"
                >
                  <i>[[${message}]]</i>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{username}"
                    name="username"
                    id="username"
                    aria-describedby="usernameHUd"
                    placeholder="Username"
                  />
                  <small
                    id="usernameHUd"
                    th:if="${#fields.hasErrors('username')}"
                    class="form-text text-muted"
                    >Username is invalid</small
                  >
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    th:field="*{password}"
                    name="password"
                    id="password"
                    aria-describedby="passwordHId"
                    placeholder="Enter Password"
                  />
                  <small
                    id="passwordHId"
                    th:if="${#fields.hasErrors('password')}"
                    class="form-text text-muted"
                    >Password is invalid</small
                  >
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    th:field="*{confirmPassword}"
                    name="confirmPassword"
                    id="confirmPassword"
                    aria-describedby="confirmPasswordHId"
                    placeholder="Re-enter Password"
                  />
                  <small
                    id="confirmPasswordHId"
                    th:if="${#fields.hasErrors('confirmPassword')}"
                    class="form-text text-muted"
                    >Password is invalid</small
                  >
                </div>
              </div>
              <div class="card-footer text-muted text-center">
                <button class="btn btn-block btn-primary">
                  <i class="fas fa-sign-in-alt mr-1"></i>Sign Up
                </button>
                <a th:href="@{alogin}" class="float-left mt-2">Sign in</a>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
